.logo{
    text-align: center;
    background: rgb(1, 1, 2);
    color: aliceblue;
    font-size: 40px;
    padding: 20px 0;
}
body{
    margin: 0;
}
.img1{
    background: url('werty.png');
    max-width: 400px;
    width: 100%;
    height: 400px;
    background-size: cover;
    margin: 0 auto;
}
.img-box{
    display: flex;
    justify-content: space-evenly;
}
.img2, .img3, .img4{
    max-width: 300px;
    width: 100%;
    height: 300px;
}
.img2{
    background: url('xiaomi redmi 5.jpg');
    background-size: cover;
}
.img3{
    background: url('xiaomi12.jpg');
    background-size: cover;
}
.img4{
    background: url('blue.png');
    background-size: cover;    
}
.product{
    padding: 100px;
    background: rgb(183, 201, 22);
    margin-top: 50px;
}
.product img{
    width: 300px;
}
.ixbox{
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    border: 2px solid rgba(12, 196, 12, 0.644);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(12, 196, 12, 0.644);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media(max-width: 800px){
    .ixbox{
        flex-direction: column;
        align-items: center;
    }
    .img2,  .img3,  .img4{
        height: 280px;
        max-width: 500px; 
    }
    .img1{
        max-width: 169px;
        height: 264px;
    }
}
@media(max-width :600px){
    .img2,  .img3,  .img4{
        height: 340px;
        max-width: 600px; 
    }
   .img1{
       max-width: 370px;
       height: 264px;
   }
}
@media(max-width :450px){
    .img2,  .img3,  .img4{
        height: 151px;
       max-width: 131px ;
    }
   .img1{
       max-width: 323px;
       height: 222px;
   }

}
