.back{
    text-decoration: none;
background: rgba(9, 63, 240, 0.897);
border: 2px solid rgb(255, 174, 0);
border-radius: 20px;
padding: 10px;
color: salmon;
font-size: 24px;
display: block;
max-width:200px;
}
.back:hover{
    background: skyblue;
    border: 2px solid rgb(191, 201, 58);
    color: rgb(12, 184, 83);
    transition: 1s;
}
.menu{
    padding-top: 40px;
    padding-left: 40px;
}
.info{
    display: flex;
    justify-content: space-around;
margin: 50px 0;



}


.img{
    max-width: 400px;
    width: 100%;
    height: 400px;
    background: url('pms_1590426721.73822672.png');
    background-size: cover;
}
.text{
    max-width: 600px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
}
.order{
    padding: 15px 20px;
    background: rgb(253, 143, 0);
    color: yellow;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}
@media(max-width:800px){
    .info{
        flex-direction: column;
    }
}