.back{
    text-decoration: none;
    background: rgb(213, 103, 103);
    border: 2px solid rgb(179, 77, 77);
    border-radius: 20px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    display: block;
    width: 300px;
}

.back:hover{
    background: rgb(181, 82, 82);
    border: 2px solid rgb(159, 63, 63);
    transition: 1s;
}

.menu{
    padding-top: 40px;
    padding-left: 40px;
}



.info{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.img{
    max-width: 400px;
    width: 100%;
    height: 400px;
    background: url('1.jpg');
    background-size: cover;
}


.text{
    max-width: 600px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
}
.order{
    padding: 15px 20px;
    background: rgb(79, 174, 47);
    color: cornsilk;
    border-radius: 20px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}


@media(max-width:800px){
     .info{
         flex-direction: column;
     }
    }
    