.img{
    width: 100%;
    height: 920px;
    background: url('com.jpg');
    background-size: cover;
}


body{
    margin: 0;
}

@media (max-width:800px){
    .img{
        height: 620px;
    }
}




@media (max-width:500px){
    .img{
        height: 320px;
    }
}





