.back{
    text-decoration: none;
    background: rgb(255, 0, 0);
    border: 2px solid rgb(0, 247, 255); 
    border-radius: 20px;
    padding: 10px;
    color: rgb(9, 255, 0);
    font-size: 24px;
    display: block;
    width: 300px;

}
.back:hover{
    background: rgb(0, 17, 255);
    border: 2px solid rgb(255, 0, 255); 
    color: rgb(255, 238, 0);
    transition: 1s;
}
.menu{
    padding-top: 40px;
    padding-left: 40px;
}

.info{
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
}

.img{
    max-width: 400px;
    width: 100%;
    height: 400px;
    background: url('12.jpg');
    background-size: cover;
}

.text{
    min-width: 600px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
}
.order{
    padding: 15px 20px ;
    background: rgb(68, 0, 255);
    color:rgb(102, 255, 0);
    border-radius:20px;
    max-width: 300px;
    width: 100%;
    text-align:center;
}


@media(max-width:800px){
    .info{
        flex-direction: column;
    }
}
