
.logo{
    text-align: center;
    background:rgb(0, 0, 0);
    color:chocolate;
    font-size: 35px;
    padding: 25px 0;
}


body{
    margin: 0;
}

.img1{
    background: url('9.jpg');
    max-width: 500px;
    width: 100%;
    height: 500px;
    background-size:cover;
    margin: 0 auto;
}

.img-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.img2{
    background: url('1200px-IPhone_X_vector.svg.png');
    background-size: cover;
    max-width: 200px;
    width: 100%;
    height: 400px;
}

.img3{
    background: url('iphone-xr-blue.png');
    background-size: cover;
    max-width: 400px;
    width: 100%;
    height: 350px;
}

.img4{
    background: url('iphone-xs.jpg');
    background-size: cover;
    max-width: 200px;
    width: 100%;
    height: 400px;
}


.product{
    padding: 100px 0;
    background:rgb(158, 158, 158);
    margin-top: 50px;
}

.product img{
    width: 300px;
    margin: 10px;
}

.baby{
    max-width: 900px;
    width: 100%;
    margin: 30px auto;
    border: 2px solid rgb(172, 172, 172);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: rgb(172, 172, 172) ;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


@media(max-width:800px){

    .baby{
        flex-direction: column;
        align-items: center;
    }
    .img1{
        max-width: 401px;

        height: 400px;
    }
    .img2 {
        max-width: 163px;
        width: 100%;
        height: 332px;
    }

    .img3 {
        max-width: 316px;
        width: 100%;
        height: 275px;
    }
    .img4 {
        max-width: 159px;
        width: 100%;
        height: 312px;
    }

}
@media(max-width:650px){
    .img1 {
        background: url(9.jpg);
        max-width: 317px;
        width: 100%;
        height: 333px;
        background-size: cover;
        margin: 0 auto;
    }
    .img2 {
        max-width: 121px;
        width: 100%;
        height: 244px;
    }
    .img3 {
        max-width: 256px;
        width: 100%;
        height: 223px;
    }
    .img4 {
        max-width: 117px;
        width: 100%;
        height: 228px;
    }

}


@media(max-width:550px){
    .img1 {
        background: url(9.jpg);
        max-width: 275px;
        width: 100%;
        height: 287px;
        background-size: cover;
        margin: 0 auto;
    }
    .img4 {
        max-width: 95px;
        width: 100%;
        height: 191px;
    }
    .img3 {
        max-width: 201px;
        width: 100%;
        height: 180px;
    }
    .img2 {
        max-width: 98px;
        width: 100%;
        height: 199px;
    }

}



@media(max-width:400px){
    .img4 {
        max-width: 76px;
        width: 100%;
        height: 148px;
    }
    .img3 {
        max-width: 133px;
        width: 100%;
        height: 117px;
    }
    .img2 {
        max-width: 70px;
        width: 100%;
        height: 143px;
    }
    .img1 {
        background: url(9.jpg);
        max-width: 215px;
        width: 100%;
        height: 213px;
        background-size: cover;
        margin: 0 auto;
    }
}




































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































