.img{
    width: 100%;
    height: 920px;
    background: url('mops_59f0a3.png');
    background-size: cover;
}
body{
    margin: 0;
}
@media(max-width: 800px){
    .img{
        height: 600px;
    }   
}
@media(max-width: 800px){
    .img{
        height: 300px;
    }   
}