.logo{
    text-align: center;
    background: rgb(218, 159, 117);
    color: rgb(155, 104, 11);
    font-size: 40px;
    padding: 30px;
}
body{
    margin: 0;
}
.img1{
    background:url('Mops_59a412.jpg') ;
    max-width: 600px;
    width: 100%;
    height: 500px;
    background-size: cover;
    margin: 0 auto;
}
.img-box{
    display: flex;
    justify-content: space-evenly;
}
.img2,.img3,.img4{
    max-width:300px;
    width: 100%;
    height: 300px;
}

.img2{
    background: url('Mops_59a412.jpg');
    background-size: cover;
}
.img3{
    background: url('mops_59f0a3\ \(1\).png');
    background-size: cover;
}
.img4{
    background: url('shenok.jpg');
    background-size: cover;
}




.product{
    padding: 100px;
    background: rgb(55, 4, 97);
    margin-top: 50px;
}
.product img{
    width: 300px;
}


.baby{
    min-width: 900px;
    width: 100%;
    margin: 30px auto;
    border: 2px solid rgb(25, 0, 255);
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    background: rgb(0, 174, 255);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
@media(max-width :800px){
    .img2,.img3,.img4{
        height: 160px;
        max-width: 160px;
    }
    .img1{
        max-width: 370px;
        height: 264px;
    }

    .baby{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width :600px){
    .img2,.img3,.img4{
        height: 280px;
        max-width: 260px;
    }
    .img1{
        max-width: 370px;
        height: 264px;
    }
}

@media(max-width :450px){
    .img2,.img3,.img4{
        height: 151px;
        max-width: 122px;
    }
    .img1{
        max-width: 323px;
        height: 222px;
    }
}